[Unit]
{% if 'description' in item %}
Description={{ item.description }}
{% else %}
Description={{ item.name }}
{% endif %}
Wants={{ item.name }}-timer.timer

[Service]
Type=oneshot
ExecStart={{ item.command }}
User={{ item.user | default("root") }}

[Install]
WantedBy=multi-user.target